// heart toggle
.heartSubin.fa-heart {
  cursor: pointer;
}

.btnOff {
  color: black;
  opacity: 0.2;
}

.btnOn {
  color: red;
  opacity: 1;
  animation: pound 0.7s;
}

// 하트 클릭 두근두근
@keyframes pound {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  74% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
