.head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f2;

  #logo {
    margin-left: 15px;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Dancing Script', cursive;
  }

  ul {
    list-style: none;
  }

  .list {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 76%; /*margin-left로 했을 때 list가 반응형이 안됨*/
    padding-right: 0;

    li {
      margin-right: 10px;
      color: #afafa9;
    }
  }
}
