@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  height : 700px;
  background-color: lightgray;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 80px;
}

.loginArea {
  padding: 0px 20px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid gray;
  align-content: center;
  text-align: center;
}

/* .weBucksSection,
  .weBucksText,
  .idSection,
  .pwForget
  {
    background-color: white;
  } */

.pwInput {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  margin-bottom: 15px;
  background-color: #f7f7f7;
}
.idInput {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  margin-bottom: 15px;
  background-color: #f7f7f7;
}

.loginBtn {
  width: 80%;
  border: none;
  height: 35px;
  margin-bottom: 50px;
  border-radius: 8px;
  color: white;
  background-color: #add3ea;
}

.pwForget {
  margin-bottom: 50px;
  background-color: white;
  color: #91aec4;
  font-size: 10px;
  font-weight: bold;
}