@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.detailSubin {
  /* subtitle - coffee type */
  .coffeeType {
    position: relative;
    margin: 0 auto;
    max-width: 1024px;
    padding: 15px 0 30px 0;

    h3 {
      font-size: 22px;
      font-weight: bold;
    }

    p {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 14px;
      font-weight: bold;
      color: #bbbbbb;
    }
  }

  /* main */
  main {
    display: flex;
    margin: 15px auto 60px auto;
    max-width: 1024px;

    div {
      &::nth-child(1) {
        flex-basis: 408px;
      }
      &:nth-child(2) {
        flex-basis: 616px;
      }
    }
    /* main image */
    .coffeeImg {
      img {
        height: 450px;
        width: 400px;
      }
    }

    /* main description */
    .description {
      padding-left: 20px;
      max-width: 616px;

      /* coffee name section */
      .coffeeName {
        position: relative;
        padding-bottom: 10px;
        border-bottom: 2px solid black;
        font-weight: bold;

        h4 {
          font-size: 20px;
        }

        .fa-heart {
          position: absolute;
          right: 10px;
          bottom: 20px;
          cursor: pointer;
        }

        .engName {
          margin-top: 5px;
          font-size: 12px;
        }
      }

      .explain {
        padding: 20px 0;
        border-bottom: 1px solid #dddddd;
        font-size: 14px;
      }

      /* nutrition section */

      .nutriPreview {
        display: flex;
        justify-content: space-between;
        padding: 25px 10px;
        border-bottom: 1px solid #dddddd;
        font-weight: bold;
      }

      .nutriDetails {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
        width: 616px;

        .nutriWrapper {
          padding: 10px 10px;
          flex: 1;

          &:nth-child(2) {
            border-left: 1px dashed #cccccc;
          }

          .nutirContent {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
          }
        }
      }

      /* allergic section */
      .allergic {
        margin-bottom: 30px;
        padding: 15px 10px;
        border-radius: 4px;
        background: #999999;
      }

      /* review section */
      .rvWrapper {
        .rvTitle {
          padding-bottom: 10px;
          border-bottom: 1px solid #dddddd;
          font-size: 18px;
          font-weight: bold;
        }

        .rvContents {
          margin: 15px 0 25px 0;

          .aRv {
            margin-bottom: 8px;
            position: relative;

            .rvId {
              display: inline-block;
              font-weight: bold;
              width: 100px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .rvText {
              display: inline-block;
              width: 300px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            /* trash btn */
            .fa-trash-can {
              position: absolute;
              right: 0;
              opacity: 0.2;
              cursor: pointer;
            }
          }
        }

        input {
          padding: 10px 10px;
          width: 616px;
          border: none;
          border-radius: 4px;
          background: #eeeeee;
        }
      }
    }
  }
  /* footer */
  footer {
    background: #333333;

    .footerWrap {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 40px 15px 30px 15px;
      max-width: 1024px;
      color: #cccccc;

      .info {
        p {
          margin-bottom: 10px;
          font-size: 12px;
        }

        li {
          margin-bottom: 8px;
          font-size: 11px;
        }
      }
    }
  }

  // /* heart btn toggle */
  // .btnOff {
  //     color: black;
  //     opacity: .2;
  // }

  // .btnOn {
  //     color: red;
  //     opacity: 1;
  // }

  // .bugFix {
  //     margin-left: 6px;
  // }
}
