@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Nanum+Gothic:wght@700&display=swap');

.topnavDami {
  header {
    background-color: #f6f5ef;
    padding: 10px 50px;
    display: flex;
    width: 1200px;
    justify-content: space-between;

    .logoName {
      font-family: 'Dancing Script', cursive;
      font-size: 30px;
      padding-left: 1%;
    }

    .headBar {
      font-family: 'Nanum Gothic', sans-serif;
      font-size: 12px;
      color: #c7c7c2;
      padding-left: 750px;
      position: absolute;
      margin-top: 10px;
      margin-left: 5%;
      display: inline-flex;
      justify-content: space-between;

      .navName {
        padding-left: 25px;
        font-weight: bolder;
      }

      p {
        display: inline;
      }
    }
  }
}
