@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Nanum+Gothic:wght@700&display=swap");

header {
    background-color: #f6f5ef;
    margin: 15px 10px;
    padding: 10px 50px;
  }
  
  .logoName {
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    padding-left: 1%;
  }
  
  .headBar {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 12px;
    color: #c7c7c2;
    padding-left: 50%;
    position: absolute;
    margin-top: 10px;
    margin-left: 5%;
    display: inline-flex;
    justify-content: space-between;
  }
  
  .navName {
    padding-left: 25px;
    font-weight: bolder;
  }